# Build Folders
bin/
obj/
*.exe
*.dll
*.pdb

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache
.vs/
.vscode/

# Rider cache
.idea/

# Logs
*.log

# Backup files
*.bak
*.swp

# Publish folder
publish/

# NuGet packages
*.nupkg
packages/

# Temporary ASP.NET files
App_Data/
